:root {
    --primay-font: 'Barlow Semi Condensed', sans-serif;
    --mobile: 375px;
    --desktop: 1440px;
    --moderate-violet: hsl(263, 55%, 52%);
    --dark_gray: hsl(217, 19%, 35%);
    --dark-black: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    --light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    background-color: var(--Light-grayish-blue);
    font-size: 13px;
    font-family: var(--primay-font);
}

.personal_date img {
    float: left;
}

.testimonial {
    color : var(--light-gray);
    letter-spacing: 1px;
    line-height: 1.5;
}

.daniel {
    background-color: var(--moderate-violet);
}


